// sass --watch scss/style.scss:css/style.css

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700');

*{
    padding: 0;
    margin: 0;
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

body{
    width: 100vw;
    min-width: 320px;
    color: rgb(80, 80, 80);
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    background: white;
}

nav, header, footer{
    width: 100vw;
}

nav{
    height: 100px;
    display: flex;
    align-items: center;
    .wraper{
        margin: auto;
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: space-between;    
       .logo{
            flex: 3;
            line-height: 100px;
            img{
                height: 32px;
                width: 82px;
            }
        }
        .menu{
            flex: 5;
            ul{
                height: 100%;
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                a{
                    display: block;
                    color: black;
                    text-decoration: none;
                }
            }
        }
        .search{
            flex: 1;
        } 
    }
}
header{
    height: 370px;
    background: url("../images/bg3.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    h1, p{
        z-index: 3;
    }
    h1{
        font-size: 65px;
        font-weight: 500;
    }
    // ----------------------------
    // img{
    //     height: 100%;
    //     width: 100%;
    //     position: absolute;
    // }
    // ---------------------------
}
main{
    height: 1462px;
    .wraper{
        width: 45%;
        height: 100%;
        margin: auto;
        background: violet;
        article{
            h5{
                text-transform: uppercase;
            }
        }
    }
}

.latestPost{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    .wrap-posts{
        display: flex;
        align-items: center;
        justify-content: space-around;     
    }  
}

footer{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    .menu{
        flex: 1;
        ul{
            height: 100%;
            list-style: none;
            display: flex;
            // flex-direction: row;
            justify-content: space-around;
            align-items: center;
            a{
                display: block;
                color: black;
                text-decoration: none;
            }
        }
    }
    .logos{
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    } 
}
